.quoteBox {
  background-color: rgb(65, 65, 65);
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  text-align: center;
  width: 50%;
  margin: 1em auto;
}

button {
  display: block;
  margin: 1em auto;
  padding: 1em;
  color: white;
  background-color: blue;
  border-radius: 20px;
}
