<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Age</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Si possono inglobare più componenti in questo modo?  -->
    <!-- onDeleteUser viene invocato solo quando il componente figlio emette l'evento "onDeleteUser" -->
    <tr
      *ngFor="let user of users"
      (onDeleteUser)="onDeleteUser(user)"
      (onSelectUser)="onSelectUser(user)"
      app-user
      [user-data]="user"
    ></tr>
  </tbody>
  <button class="add-user-btn" (click)="onAddNewUser()">
    <strong>+ Add New User</strong>
  </button>
</table>
