table,
th {
  border: 1px solid black;
}

table {
  border-radius: 10px;
  text-align: center;
}

.add-user-btn {
  background-color: green;
  color: white;
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
